.Rproj.user
.Rhistory
.RData
.Rdata
.Ruserdata
./mcmc_out/*
./chagas_data/from_tabnet/*
./microdata_documentation/*
./microdata_download/*
./population_tcu/*
*.Rproj
nohup.out
chagas_data.Rdata
mcmc_out/
climate_data/